
<footer>
        <div class="dividing-line">&nbsp;</div>
        <div class="main-network-wrap">
                <div class="wrap"><img src="/bundles/kidssite/images/bg-network03.jpg" width="47" height="61" alt="" /></div>
                <div class="wrap"><img src="/bundles/kidssite/images/bg-network04.jpg" width="439" height="69" alt="" /></div>
        </div>
        <div class="dividing-line">&nbsp;</div>
        <form action="#" class="subscribe-form">
                <fieldset>
                        Subscribe to our Newsletter
                        <div class="wrap">
                                <input class="text" type="text" value="enter your email address" />
                                <span class="btn">Email me<input type="submit" value="" title="Email me" /></span>
                        </div>
                </fieldset>
        </form>
        <div class="dividing-line">&nbsp;</div>
        <ul class="bottom-nav">
                <li>
                        <h4>Shopping with us</h4>
                        <ul>
                                <li><a href="#">shipping &amp; costs</a></li>
                                <li><a href="#">payment options</a></li>
                                <li><a href="#">returns policy</a></li>
                        </ul>
                </li>
                <li>
                        <h4>Your order</h4>
                        <ul>
                                <li><a href="#">track your order</a></li>
                                <li><a href="#">order status</a></li>
                                <li><a href="#">returns policy</a></li>
                        </ul>
                </li>
                <li>
                        <h4>Useful information</h4>
                        <ul>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">contact</a></li>
                        </ul>
                </li>
                <li>
                        <h4>About us</h4>
                        <ul>
                                <li><a href="#">who we are</a></li>
                                <li><a href="#">press &amp; media</a></li>
                                <li><a href="#">careers</a></li>
                        </ul>
                </li>
        </ul>
        <div class="dividing-line">&nbsp;</div>
        <div class="copyright">&copy; 2013 Bobi store a.s.</div>
</footer>