<ul class="inner-nav">
        <li><a href="#">Корзина</a></li>
        <li class="active"><a class="account" href="#">Аккаунт</a></li>
        <li><a href="#">Желания</a></li>
        <li><a href="#">Заказы</a></li>
        <li><a href="#">Просмотр</a></li>
        <li><a href="#">Настройки</a></li>
</ul>
<div class="dividing-line"></div>
<form action="#" class="account-description">
        <fieldset>
                <h1><i>Залогинтесь</i></h1>
                <h4>Доступ к этой странице имею только зарегестрированные пользователи</h4>
        </fieldset>
</form>