{% extends 'KidsSiteBundle::layout.html.twig' %} 
{% block body %}
<div class="col-main">
<div class="page-title category-title">
        <h1>{{ entity.title }}</h1>
</div>
<div class="tab-wrapper">
        <ul class="tab-set">
                <li class="active"><a href="#">хиты</a></li>
                <li><a href="#">От дешёвых</a></li>
                <li><a href="#">От дорогих</a></li>
        </ul>
        <div class="tab-wrap">
                <div class="tab">
                        {% render 'KidsSiteBundle:Catalog:ProdBlockSort' with {"id" : id, "sort" : 'kod', type : 'ASC', 'page':page} %}
                </div>
                <div class="tab" style="display:none;">
                        {% render 'KidsSiteBundle:Catalog:ProdBlockSort' with {"id" : id, "sort" : 'price', type : 'ASC', 'page':page} %}
                </div>
                <div class="tab" style="display:none;">
                        {% render 'KidsSiteBundle:Catalog:ProdBlockSort' with {"id" : id, "sort" : 'price', type : 'DESC', 'page':page} %}
                </div>
        </div>
</div>        

        
       
{% endblock %}