<form action="#" class="search-form">
        <fieldset>
                <input class="text" type="text" value="search bobi store..." />
                <input class="btn" type="submit" value="" title="search" />
                   {% render "KidsSiteBundle:Catalog:CatforSearch" %}             
                </select>
        </fieldset>
</form>